body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: #1F2937;
    font-family: Roboto;
}

.gross {
    display: flex;
   margin-bottom: 40px;
   padding: 10px;
   justify-content: space-between;
    align-items: center; 
}

.logo {
    margin-left: 200px;
    width: 34px;
    height: 30px;
}

.nav {
    display: flex;
    gap: 15px;
    margin-right: 200px;
}
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding-bottom: 15px;
}
.hero-main {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex-wrap: wrap;
}
.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.para-text {
    font-size: 18px;
    color: #E5E7EB;
}
.mandrip {
    width: 300px;
    height: 250px;
}
button{
    background-color: #3882F6;
    width: 72px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #3882F6;
}
.section2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-i {
    display: flex;
}

.rider {
    padding: 10px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.arts {
    width: 200px;
    height: 220px;
    border-radius: 8px;
}
.caption {
    text-align: center;
    width: 200px;
}
.gallery {
    width: 220px;
}

.section3 {
    background-color: #E5E7EB;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
blockquote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    width: 800px;
    margin-bottom: 0;
}

.name {
    align-self: flex-end;
    font-weight: bold ;
    font-size: 20px;
    margin-right: 250px;
   margin-bottom: 15px;
}

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 200px;
    
}

.section4-i {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 150px;
    height: 90px;
    background-color: #3882F6;
    border-radius: 8px;
    padding-left: 100px;
   
}

.action {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    margin-right: auto;
    justify-content: flex-start;
   
}

.take {
    align-self: flex-end;
    margin-right: 80px;
    margin-bottom: 17px;
    width: 100px;
    height: 30px;
    color: #F9FAF8;
    border-radius: 5px;
    border: 1px solid white;
}

.footer {
    font-family: Roboto;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    margin-top: auto;
}

.rider2 {
    color: #E5E7EB;
    text-align: start;
    margin-bottom: 0;
}